
.container-gral{
    padding: 5% 10%;
}
.container-section{
    display: flex;
    justify-content: center;
    margin: 50px;
}
.columna{
    flex-direction: column;
}
.titular-h1, .titular-p{
    color: #EAEAFD;
    text-align: center;
}
.container-subs{
    gap: 40px;
    margin: 0 10%;
}

/* Estilos para el botón Suscribirme */
.button-subs {
    border-radius: 8px;
    width: 100%;
    margin: 0;
    height: 57px; 
    background-color: #FFD015;
    color: #18181B;
    font-size: 16px; 
    cursor: pointer; 
    border: none;
    transition: background-color 0.3s; 
}

/* Estilos para el botón Suscribirme al pasar el cursor */
.button-subs:hover {
    background-color: #fadb5d;
}

/* Estilos para el botón Suscribirme al hacer clic */
.button-subs:active {
    background-color: #d4a605; 
}

.input-subs{
    width: 100%;
}
.container-flex{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.nivel-de-experiencia {
    color: white;
    font-size: 1.2em;
}

.container-contacto{
    margin-top: 50px;
}
.container-contacto-input textarea{
    height: 95%;
    width: 100%;
    max-width: 100%;
    background-color: #D9D9D90F;
    border: none;
    padding: 10px;
}
.container-contacto-mensaje{
    height: 100%;
}
.container-contacto-input{
    height: 100%;
}

  /* Estilos para inputs y textareas*/
  .input, .textarea{
    background-color: #18181B;
    color: #EAEAFD;
    border: 1px solid;
    border-radius: 6px;
    border-color: #7C7C88;
    padding: 16px 48px 20px 5px;
}

.boton-enviar {
    background-color: #4CAF50; 
    color: #18181B; 
    font-size: 16px;
    font-weight: bold;
    padding: 14px 20px; 
    margin: 8px 0; 
    border: 1px solid;
    border-radius: 6px;
    border-color: #7C7C88;
    cursor: pointer; 
}



/*Reponsive Mobile*/
@media (max-width:768px){
    .container-contacto-input textarea{
        height: 200px;
    }
    .container-contacto-input{
        width: 100%;
        text-align: center;
    }
    .container-gral{
        margin: 10px;
        padding: 10px;
    }
    .container-flex{
        flex-wrap: wrap;
    }
    .container-contacto-mensaje{
        flex-direction: unset;
    }
    .container-subs{
        margin: 0;
    }
    .button-subs{
        width: 100%;
    }
}
@media (max-width:480px){
    .container-section{
        margin: 0;
    }
    .enlace-btn{
        width: 80%;
    }
    input, textarea{
        width: 80% ;
    }
}
