/* Estilos para la lista de preguntas frecuentes */
.faq-list {
    margin-left: 30px; /* Agrega un espacio de 20px al margen izquierdo */
}

/* Estilos para cada pregunta */
.faq-list h5 {
    margin-top: 40px; /* Agrega un espacio de 20px sobre cada pregunta */
    font-weight: 300;
    color: #a1a1ef;
}

.faq-list p {
    font-size: 2em;
    margin-left: 40px;
    margin-right: 40px;
    text-align: justify;
}

/* Estilos para el Botón de Volver arriba */
.back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #6366f1;
    color: #fff;
    padding: 10px 20px;
    margin-right: 40px;
    border-radius: 5px;
    text-decoration: none;
}

.back-to-top:hover {
    background-color: #0056b3;
}

.contact-support{
    font-size: 2em;
    margin-top: 80px;
    margin-left: 70px;
    transition: color 0.3s ease;
}

.contact-support {
    color: #6366f1; 
}

.contact-support a{
    margin-left: -20px;
    text-decoration: none;
    color: #f3f3f8;
}

.contact-support a {
    background-color: transparent; 
}

.contact-faq {
    transition: color 0.3s ease;
}
  
.contact-faq:hover {
    color: #6366f1; 
} 

/* Estilos para la sección de Feedback del usuario */
.user-feedback {
    margin-top: 50px;
    margin-left: 50px;
}

.user-feedback h5 {
    font-size: 2em;
    margin-left: 20px;
    margin-bottom: 10px;
}

.user-feedback p{
    font-size: 1.5em;
    margin-left: 30px;
}

.user-feedback textarea {
    margin-left: 20px;
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
}

.user-feedback button {
    display: block;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: #6366f1;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.user-feedback button:hover {
    background-color: #242459;
}

/* Estilos para tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .hide-InverGestApp-tablet {
      display: none;
    }
    .hide-Contacto-tablet{
      display: none;
    }

    h3 {
        font-size: 4.1em;
        margin-left: 35px;
    }
    h5 {
        font-size: 2em;
        margin-left: 35px;
    }
    .faq-list p {
        font-size: 1.8em;
        margin-right: 60px;
    }
    .back-to-top {
        margin-right: 5px;
    }
    .user-feedback textarea {       
        width: 86%;   
    }
}

/* Estilos para móbiles */ 
@media screen and (max-width: 480px) {
    .mobile-only {
      display: block;
    }
    
    .bi {
        font-size: 36px; /*Menú hamburguesa*/
    }

       /* Menú hamburguesa */
       .menu-toggle, .bi-list {
        display: block;
        margin-left: 8px;
        margin-top: -5px;
      }

    h3 {
        font-size: 3.1em;
        text-align: center;
    }
    .faq-list h5 {
        font-size: 1.8em;
    }
    .faq-list p {
        font-size: 1.6em;
        text-align:center;
        margin-left: 0;
    }
    .contact-support {
        font-size: 1.6em;
        text-align: center;
        margin-left: 10px
    }
    .user-feedback h5 {
        font-size: 1.6em;
        text-align: center;
    }
    .user-feedback {
        margin-top: 30px;
        margin-left: 0px;
        align-items: center;
    }
    .user-feedback textarea {
        margin-left: 20px;
        width: 83%;
        padding: 10px;
        margin-bottom: 10px;
    }
    p{
        text-align: center;
    }
    .user-feedback button {
        align-items: center;
    }
    .back-to-top {
        margin-right: 5px;
    }
}
