@media screen and (max-width: 768px) {

      .hide-InverGestApp-tablet {
        display: none;
      }
      .hide-Contacto-tablet{
        display: none;
      }

      .first-view {
        flex-direction: row; /* Cambia la dirección del flexbox a fila */
    }
    
      .left-content, .right-content {
        flex: 1 1 40%; /* Ocupa el 25% del ancho en pantallas grandes */
    }
      .left-content h1{
        font-size: 4em;
      }
      .left-content h5{
        font-size: 1.8em;
      }

    h1{
        font-size: 4.7em;
    }

    .left-content {
        text-align: center;
        padding: 20px;
    }
    
    .left-content h5{
        margin: 20px auto;
        font-weight: 300;
    }

    /* EStilos para los botones */

    .buttonyellow1, .buttongrey {
        max-width: 90%; /* Ajusta el ancho máximo al 100% */
    }

    .right-content{
        width: 390px;
    }

    /* Estilos de la imagen y su caja */
    .circle-image {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    /* EStilo para la Misión */
    .mission-container {
        width: 94%; /* Establece el ancho al 100% */
        margin: 0; /* Elimina el margen lateral */
        margin-top: 10px;
    }

    h4{
        font-size: 3em;
        text-align: center;
    }
    
    /* Etilos de Cómo Funciona */

    .steps-container {
        text-align: left;
        max-width: 100%; /* Ajusta el ancho máximo al 100% */
        margin-top: 2px; /* Reduce el margen superior */
        margin-bottom: 5px; /* Reduce el margen inferior */
        padding: 10px; /* Reduce el relleno */
    }


    
    .step {
        flex-direction: column; /* Cambia la dirección del flexbox a columna */
        margin-bottom: 40px; /* Aumenta el margen inferior */
        padding: 20px; /* Aumenta el relleno */
        
    }

    
    .step-number {
        margin: 0; /* Elimina el margen derecho */
        margin-bottom: 10px; /* Ajusta el margen inferior */
    }

    #number1 {
        font-size: 5em; 
        margin-right: 0.1em;
    }

    .step h3 {
        margin-left: 0; /* Elimina el margen izquierdo */
        margin-bottom: 10px; /* Ajusta el margen inferior */
       
    }

    .step h5::after {
        display: none; /* Oculta la línea después de los subtítulos */
    }

    .options-container {
        display: grid; /* Usa grid en lugar de flex */
        grid-template-columns: repeat(3, 1fr); /* Crea 3 columnas con el mismo ancho */
        align-items: stretch; /* Asegura que todos los elementos hijos se estiren para llenar el contenedor */
    }
    
    .option {
        height: auto; /* Cambia la altura a automática */
        padding: 20px; /* Ajusta el relleno */
    }
    
    .option h3 {
        font-size: 2.5em; /* Reduce el tamaño del título */
        margin-bottom: 20px; /* Ajusta el margen inferior */
    }
    
    /* Estilos, botones cajas: simulador...*/
    .option a{
        width: 90%; 
        padding: 5px;
    }

    .option p {
        font-size: 1em; /* Reduce el tamaño del texto */
        margin-bottom: 15px; /* Ajusta el margen inferior */
    }
    
    .option ul li {
        font-size: 1em; /* Reduce el tamaño de la lista */
    }
    

    .last-view img {
        max-width: 40%; /* Ajusta el tamaño máximo de la imagen */
    }

    .last-view h1 {
        font-size: 3em; /* Reduce el tamaño del título */
        margin-bottom: 10px; /* Ajusta el margen inferior */
        margin-top: 20px; /* Ajusta el margen superior */
    }

    .last-view h5 {
        font-size: 1.8em; /* Reduce el tamaño del subtítulo */
        margin-bottom: 20px; /* Ajusta el margen inferior */
    }
    .buttonyellow1{
        width: 100%;
    }
}

   
  
@media screen and (max-width: 480px) {
    .circle-image img {
        width: auto;
        height: 315px;
    }

    .circle-image {
        margin: 5% auto;   
    }

    .mission-container {
        padding: 8vw;
        margin: 25vw auto;
    }

    .image-card {
        grid-template-columns: 1fr /* Una columna */
    }

    .image-card-item:nth-child(1),
    .image-card-item:nth-child(2),
    .image-card-item:nth-child(3) {
        grid-column: span 1; /* Cada elemento ocupa toda la columna */
    }

    .image-card-item:nth-child(1) img {
        width: 100%; /* La imagen ocupa todo el espacio disponible*/
    }

    .image-cards h4,
    .steps-container h2,
    .step h3,
    .step h5,
    .detail-section h1,
    .detail-section h5,
    .option h3 {
        text-align: center; /* Centra el texto horizontalmente */
    }

    .image-cards h4{
        font-size: 2.5em;
    }

    .image-card-item p {
        font-size: 1.4em;
    }


    .steps-container {
        max-width: 100%; 
        margin: 0 1em 5em 1em;
        text-align: center;
    }


    .step-number {
        font-size: 5em;
    }

    #number1 {
        font-size: 5em; 
        margin-right: 0.1em;
    }


    .step {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .options-container,
    .option {
        display: flex; /* Usa flexbox para centrar los elementos */
        flex-direction: column; /* Los elementos se apilan verticalmente */
        align-items: center; /* Centra los elementos horizontalmente */
        justify-content: center; /* Centra los elementos verticalmente */
    }


    .option p, .option ul li {
        font-size: 1em;
    }

    .option ul {
        padding: 5% 0;
    }

    .option a {
        font-size: 0.9em;
    }

    .option img {
        height: 45%;
        padding-top: 5%;
    }

    .detail-section{
        align-items: center;
        margin-right: -30px;
        text-align: center;
    }

    .last-view {
        padding-top: 50px;
        margin: 14px;
        margin-right: -10px;
    }

    .last-view img {
        max-width: 100%;
    }

    .last-view h1 {
        font-size: 3.5em;
    }

    .last-view h5 {
        font-size: 1.9em;
    }

}
