.title {
    justify-content: center;
}

h3 {
    text-align: center;
    margin: 3% 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos horizontalmente */
    justify-content: center; /* Centra los elementos verticalmente */
    width: 100%; /* Ocupa todo el ancho de la pantalla */
    margin: auto; /* Centra el formulario en la pantalla */
}

.form-group {
    display: flex;
    flex-direction: column; /* Organizar elementos en columna */
    padding: 10px 0; 
    width: 40%;
}

label {
    margin-bottom: 5px; /* Espacio entre el label y el input */
}

input[type="email"] {
    margin-bottom: 10%;
}

input[type="submit"] {
    width: 25%; 
    font-size: 1.7em;
    margin: 0;
    margin-right: 40px;
}

/* Estilo del texto de ayuda */
.centrado {
    text-align: center;
    margin-bottom: 10%;
}


.move-left, p{
    text-align: left;
}

main span{
    color: #F12121;
}

.submit-button{
    margin-top: 16px;
}

@media screen and (max-width: 768px) {
    form{
        padding: 0;
    }
    
    .form-group {
        width: 60%;
        margin-left: 5%;
    }

    input[type="submit"] {
        width: 40%; 
    }

    input[type="email"] {
        margin-bottom: 5%;
    }
}

@media screen and (max-width: 480px) {
    h3{
        font-size: 2.8em;
        margin: 10% 0;
    }

    input[type="submit"] {
        width: 80%;
        font-size: 1.5em;
        margin-bottom: 10%;
        margin-left: 50px;
    }

    p{
        margin: 0 5%;
        font-size: 1.1em;
    }

    .centrado{
        margin: 20px;
    }
}
