.title {
    display: flex;
    gap: 45%;
    align-items: center;
    margin-top: 5%;
}

h3{
    margin-left: 8%;
}

.log-link {
    text-decoration: none;
    color: #6366F1;
}

.log-link:hover {
    background-color: initial; 
    text-decoration: underline
}

form{
    max-width: 100%; 
    margin: 0 2% 0 8%; 
    padding: 20px; 
}

.form-group {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas iguales */
    gap: 15px; 
    margin-bottom: 15px;
}

.form-group > div {
    display: flex;
    flex-direction: column; /* Organizar verticalmente cada celda */
}

label {
    font-size: 1.2em;
    color: #EAEAFD;
    margin-bottom: 2%; 
}

.dataform input {
    max-width: 100%;
    padding: 8px;
    border: 1px solid #7c7c88;
    border-radius: 4px;
    margin-right: 10%;
    margin-bottom: 12%; 
    background-color: #18181B;
    color: #7C7C88;
}

.terms {
    text-align: center; /* Centrar el grupo de checkbox y label */
    margin-bottom: 5%; /* Espacio inferior entre el checkbox y otros elementos */
    margin-left: -10%;
}

/* Estilos para el Checkbox */
.terms input[type="checkbox"] {
    margin: 0 1%;
    cursor: pointer; /* Cambiar el cursor al pasar sobre el checkbox */
}


input[type="submit"] {
    margin: 0 30% 12% 30%;
    width: 30%;
    align-items: center; 
    justify-content: center; 
    border: none;
    border-radius: 10px;
    background-color: #FFD015; 
    color: #18181B;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 15px 20px;
}

input[type="submit"]:hover {
    background-color: #fadb5d;
}

/* Estilo botón envío email boletin */
.dataform.submit-button {
    margin-top: -42px;
    margin-left: -42px;
}


@media screen and (max-width: 766px) {
    .container {
      max-width: 600px;
      margin: 0 auto;
    }
    nav {
      font-size: 1em;
    }
    .menu-toggle {
      display: block;
    }
    .bi-list {
      color: white;
      display: block;
    }
    /* Oculta los elementos que no quieres mostrar */
    nav ul li:not(.logo):not(.ingresar) {
      display: none;
    }
    nav ul {
      display: flex;
      justify-content: space-between;
    }
    .menu-toggle, .logo, .ingresar {
      flex-basis: 33.33%;
    }
    .menu-toggle {
      text-align: left;
    }
    .ingresar {
      text-align: right;
    }
  }
  

@media screen and (max-width: 768px) {
    .bi {
        font-size: 36px; /*Menú hamburguesa*/
      }

    .title{
        gap: 20%
    }

    input[type="submit"] {
        width: 40%;
    }  
}


@media screen and (max-width: 480px) {
    .title{
        display: block;
        text-align: center;
    }

    h3{
        margin: 0;
        margin-top: 10%;
        font-size: 3em;
    }

    .form-group{
        display: block;
    }

    /* Estilos para el Checkbox y el texto */
    .terms input[type="checkbox"] {
        margin: 10px;
        margin-top: 2px;
        transform: scale(1);   
    }

    .terms label {
        font-size: 1.3em;
    }

    /* Estilos para el botón de envío */
    input[type="submit"] {
        width: 100%;
        margin: 10% 0 20% 0;
    }
}
