/* Estilos móviles */
@media screen and (max-width: 766px) {
  .container {
    max-width: 600px;
    margin: 0 auto;
  }

  nav {
    font-size: 1em;
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
  }

  ul {
    justify-content:center; 
    align-items: center;
  }
  
  .bi-list {
    color: white;
    display: block;
  }

  a, .logo, .bi bi-brightness-high{
    margin-top: -10px;
    margin-right: 5px;
  }


  .ingresar{
    margin-top: 2px;
    margin-left: 0;
    
  }
  .footer-column, h6{
    text-align: center;
  }

  li a{
    margin-top: 0;
  }


  /* Oculta los elementos que no quieres mostrar */
  nav ul li:not(.logo):not(.ingresar) {
    display: none;
  }
  nav ul {
    display: flex;
    justify-content: space-between;
  }

  .menu-toggle, .logo, .ingresar {
    flex-basis: 33.33%;
  }

  .menu-toggle {
    text-align: left;
  }

}

/* Estilos para el footer en móviles */
@media screen and (max-width: 600px) {
  footer{
    padding-left: 0;
  }
  
  .footer-content {
    flex-direction: column;
  }

  .footer-column {
    flex-basis: 100%;
    text-align:left;
    margin-bottom: 20px;
  }

  .formulario {
    justify-content: center;
    margin-left: 0;
  }

  .move-left {
        margin-left: 0;
        text-align: left;
    }

  .email-input {
    margin-left: 0;
    width: 80%;/* Reduce el ancho del input para evitar el desbordamiento */
  }
}


/* Estilos para Tablet */
@media (min-width: 601px) and (max-width: 1024px) {
  .container {
    max-width: 700px;
    margin: 0 auto;
  }

  nav {
    font-size: 1.2em; /*Tamaño de fuente Tablet */
  }

  .test-desktop,
  .acerca-de-tablet {
    display: none;
  }

  nav ul {
    display: flex;
    justify-content:center; 
    padding: 0; 
  }

/* Logo para Tablet */
  nav ul li.logo {
  flex: 1; /* Hace que el logo ocupe todo el espacio disponible */
  display: flex; /* Utiliza flexbox para alinear el contenido */
  justify-content: center; /* Alinea el contenido horizontalmente al centro */
  margin: 0; /* Elimina el margen */
}

  nav ul li {
    flex: 1; /* Hace que los elementos ocupen un espacio igual */
    margin: 0 10px; /* Añade margen a los lados para ajustar el espaciado */
  }

  nav ul li:nth-child(5) {
    display: none; /* Oculta el quinto elemento (Acerca de) */
  }

  nav ul li a {
    display: block;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px; /* Tamaño de fuente */
  }

  footer{
    padding-left: 2%;
  }
  
}

/* Estilos para Tablet y Desktop */
@media screen and (min-width: 767px) {
  .menu-toggle {
    display: none;
  }

  nav ul {
    display: flex;
    flex-direction: row;
  }

  .ingresar {
    order: 4; /* 'Ingresar' será el cuarto elemento, por ejemplo */
  }
}

/* Estilos para Desktop */
@media (min-width: 1024px) and (max-width: 1200px) {
  footer {
    width: 100%;
    padding: 20px 0;
  }

  .footer-content {
    flex-wrap: wrap;
  }

  .footer-column {
    flex-basis: calc(25% - 15px);
    margin-bottom: 20px;
  }

  .redes {
    margin-left: 2em; /* Ajusta este valor a lo que necesites */
  }

  /* Estilos para el formulario */
  
  .move-left {
    margin-left: 8px;
  }

  /* Estilos input de email */
  .email-input {
    max-width: 170px;
    height: 61px;
    padding: 10px;
    margin-left: -0px;
    font-size: 16px;
    background-color: transparent;
    border: 1px solid #7c7c88;
    box-sizing: border-box;
  }

  .submit-button {
    max-width: 100px;
    height: 60px;
    background-color: #ffd015;
    border: none;
    border-radius: 3%;
    margin-top: 8px;
    cursor: pointer;
  }
}

/* Estilos para Desktop */
@media screen and (min-width: 767px) {
  nav ul {
    display: flex;
    flex-direction: row;
  }

  .logo {
    order: 0; /* El logo será el primer elemento */
    /* position: absolute; */ 
    top: 1px; /* Ajustado a 5px para mover el logo más cerca del borde superior */
    left: 20px;
  }
  .ingresar {
    order: 1; /* 'Ingresar' será el segundo elemento */
  }

  .menu {
    display: none;
  }
}


