/* Estilos para el main */
.first-view {
  display: flex;
  align-items: center; 
  flex-wrap: wrap;
}

.left-content, .right-content {
    flex: 1 1 25%; /* Ocupa el 25% del ancho en pantallas grandes */
}

  /* Estilos para el texto */
.left-content{
    text-align: center;
    padding: 20px;
}

.left-content h5{
    margin: 20px auto 20px ;
    font-weight: 300;
}
  
  /* Estilo para la caja de la imagen */
.right-content {
    background-color: #6366F1; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-image {
    width: 75%;
    border-radius: 50%;
    margin: 100px auto 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-image img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

/* Estilos para las instrucciones */
.instructions {
  text-align:left; /* Alinea el texto al centro */
  margin-top: 40px;
  margin-bottom: 50px; /* Agrega espacio inferior para separar las instrucciones del formulario */
  margin-left: 31px; /* Márgen izquierdo del texto */
  margin-right: 60px; /* Márgen derecho del texto */
  font-size: 1.6em; /* Tamaño del texto */
  color: #EAEAFD; /* Color del texto */
}

/* Estilos para el formulario */
#investorTestSection {
  width: 90%; /* Ajusta el ancho del formulario */
  margin: 0 auto; /* Establece márgenes automáticos para centrarlo horizontalmente */
  counter-reset: question-counter; /* Reinicia el contador */
}

.question {
  display: block;
  align-items: center; /* Centra verticalmente los elementos */
  counter-increment: question-counter; /* Incrementa el contador para cada pregunta */
  margin-bottom: 30px; /* Ajusta el espacio entre las preguntas */
  padding-bottom: 10px; /* Agrega espacio debajo de cada pregunta */
}

.question::before {
  content: counter(question-counter) ". "; /* Agrega el número de la pregunta */
  color:#EAEAFD;
  font-size: 2.4em; 
  margin-right: 10px; /* Ajusta el espacio entre el número y el texto de la pregunta */
  vertical-align: middle; /* Alinea verticalmente el número con el texto de la pregunta */
}

.form-question{
  font-size: 2.4em;
  color: #EAEAFD;
  font-weight: 400;
  margin-bottom: 20px; /* Espacio entre las preguntas y las opciones*/
}

/* Estilos para los botones de radio */
.response-inputs {
  margin-left: 40px; /* Agrega un margen izquierdo para separar del borde izquierdo */
}
.response-inputs input[type="radio"]{
  display: inline-block; /* Coloca las opciones en línea horizontal */
  margin-right: 10px; /* Ajusta el espacio entre los botones de la opción */
  margin-bottom: 10px;
  vertical-align: middle; /* Alinea verticalmente los botones con el texto */
  -webkit-appearance: none; /* Elimina el estilo predeterminado del navegador */
  -moz-appearance: none;
  appearance: none;
  width: 20px; /* Ancho del botón */
  height: 20px; /* Altura del botón */
  outline: none; /* Elimina el contorno al hacer clic */
  border-radius: 50%; /* Hace que el botón sea redondeado */
  border: 2px solid #EAEAFD; /* Agrega un borde al botón */
  background-color: transparent; /* Color de fondo transparente */
}

/* Estilo del botón cuando está seleccionado */
.response-inputs input[type="radio"]:checked {
  background-color:#6366F1; /* Rellena completamente el botón cuando está seleccionado */
}

.response-inputs label {
  color: #EAEAFD; 
  font-size: medium;
  display: inline-block; /* Alina las etiquetas horizontalmente */
  vertical-align: middle; /* Alinea verticalmente las etiquetas con los botones */
  margin-bottom: 10px; /* Espacio entre las etiquetas */
  margin-left: 10px; /* Ajusta la sangría */
}

/* Estilo del botón "Finalizar" el test */
.finish-button{
  width: 100%; 
  max-width: 325px; 
  height: 57px;
  margin: 50px auto 10px; 
}

.finish-button {
  display: inline-flex;
  align-items: center; 
  justify-content: center; 
  border: none;
  border-radius: 10px;
  background-color: #FFD015; 
  color: #18181B;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  }
  
.finish-button:hover {
  background-color: #fadb5d;
}

/* Estilos para el título "Respuestas Preliminares del Test" */
.results-container h2 {
  font-size: 2.8em; 
}

/* Estilos para el texto de la respuesta */

.results-container {
  text-align:left; /* Alinea a la izquierda el contenido dentro del contenedor */
  margin-top: 50px; /* Agrega un margen superior para separar la respuesta del botón */
  margin-bottom: 50px; /* Agrega un margen inferior para separar el botón del resto del contenido */
  margin-left: 60px; /* Márgen izquierdo del texto */
  margin-right: 80px;/* Márgen derecho del texto */
}

.results-container p {
  font-size: 2em; 
}

.results-container .finish-button {
  margin-top: 50px; /* Alinea el botón con el mismo margen superior que la respuesta preliminar */
}





